.activeAlternativebackground{
      background: url('/Brand/ActiveFloor/geometric-mosaic-tile-shape-background_1409-1904.webp') center center/cover no-repeat;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rowReverse {
  flex-direction: row-reverse;
}

.textCol,
.imageCol {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 32px;
  box-sizing: border-box;
}

.sectionTitle {
  font-size: var(--font-heading-2);
  color: #000;
  margin-bottom: 8px;
}

.sectionSubtitle {
  font-size: var(--font-heading-3);
  font-weight: 300;
  margin-bottom: 16px;
}

.sectionDesc {
  font-size: var(--font-body);
  margin-bottom: 20px;
}

.sectionImage {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.ctaButton {
  display: inline-block;
  padding: 10px 28px;
  background: hsla(34.88,79.63%,57.65%,1);
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.2s;
}

.ctaButton:hover {
  background: hsla(34.88,79.63%,57.65%,1);
}

@media (max-width: 900px) {
  .row, .rowReverse {
    flex-direction: column !important;
    text-align: center;
  }
  .textCol, .imageCol {
    max-width: 100%;
    padding: 18px;
  }
  .sectionImage {
    max-width: 330px;
  }
}
