.HardwareProductCarouselBackground {
  padding: 40px 0;
}

.HardwareProductHeading {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.HardwareProductHeading h2 {
  font-size: var(--font-h2);
  font-weight: 500;
}

.slickWrap {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
}

.slideItem {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}


.productCard {
  height: 100%;
  background: #f4f4f4;
  padding: 18px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.productImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 12px;
}

.imagePlaceholder {
  width: 100%;
  height: 180px;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 12px;
}


.cardBody {
  text-align: center;
  width: 100%;
}

.productName {
  font-weight: 500;
  font-size: var(--font-h5);
  margin: 8px 0;
  color: #000;
}

.productDesc {
  color: #000;
  font-size: var(--font-body);
  margin: 0;
  font-weight: 300;
}


.centerButtonWrapper {
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.2s;
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.centerButton {
    padding: 24px 38px;
  background: hsla(34.88, 79.63%, 57.65%, 1);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: var(--font-body);
  display: flex;
  align-items: center;
  justify-content: center;
}


.slickArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 3;
  background: hsla(240,100%,27.25%,1);
  padding: 8px 12px;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
}

.prevArrow {
  left: 8px;
}

.nextArrow {
  right: 8px;
}

.slickArrow:hover {
  background: #fff;
  color: #000;
}


.slick-list {
  margin: 0 -10px;
}


@media (max-width: 1200px) {
  .productImage {
    height: 160px;
  }
}
@media (max-width: 900px) {
  .productImage {
    height: 140px;
  }
}
@media (max-width: 600px) {
  .productImage {
    height: 180px;
  }
  .slickArrow {
    width: 44px;
    height: 44px;
  }
  .prevArrow {
    left: 6px;
  }
  .nextArrow {
    right: 6px;
  }
}
