.backgroundSection {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 80px 20px;
  border-radius: 12px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}


.overlay {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 12px;
  padding: 40px 30px;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.children {
  margin-top: 30px;
}

.flipped .overlay {
  direction: rtl;
  text-align: right;
}
