.ourServices {
  padding: 60px 20px;
  background-color: #f9fafb;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #1564c0;
  font-weight: 700;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  border-radius: 14px;
}


.textContent {
  flex: 1;
  padding: 28px 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #1564c0;
}

.cardDescription {
  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.5;
}

.imageWrapper {
  flex: 1;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }
  .textContent, .imageWrapper {
    flex: none;
    width: 100%;
  }
  .imageWrapper {
    height: 200px;
  }
}
