.banner {
  color: #fff;
  height: 650px;
  padding: 60px 0 40px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bannerContent h1 {
  font-size: var(--font-h2);
  font-weight: 700;
}

.bannerContent h2 {
  font-size: var(--font-h6);
  font-weight: 300;
}

