.latest-news-cards-section {
  padding: 60px 20px;
  background-color: #f9fafb;
}

.section-heading {
  text-align: center;
  font-size: var(--font-heading-2);
  font-weight: 500;
  color: hsla(240,100%,27.25%,1);
  margin-bottom: 40px;
  padding-top: 50px;
}

.news-cards-wrapper {
  display: flex;
  gap: 50px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.news-card {
  /* flex: 0 0 320px; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.news-card-image {
  width: 220px
}

.news-card-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
      align-items: center;
    padding-top: 40px;
}

.news-card-title {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 40px;
  padding-top: 20px;
  color: #000;
  text-align: center;
}

.news-card-description {
  font-size: 0.95rem;
  color: #555;
  flex-grow: 1;
  margin-bottom: 16px;
}

.news-event-btn{
  background: hsla(240,100%,27.25%,1) !important;
  color: #fff;
}


.news-cards-wrapper {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
 