.testimonialsSection {
  padding: 60px 0 100px; /* space for arrows */
  background: #fff;
  text-align: center;
}

.heading {
  font-size: var(--font-h2);
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
  color: #000;
}

.slider {
  position: relative;
  display: flex;
  gap: 15px;
}

/* Scoped to Testimonials only */
.slider :global(.slick-slide) {
  padding: 0 10px;
  box-sizing: border-box;
}

.slider :global(.slick-list) {
  margin: 0 -10px;
}


/* Testimonial Card */
.card {
  background: #dad5d5;;
  padding: 30px 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100%;
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #000;
}

.quote {
  font-size: 15px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;

  flex-grow: 1;
}

.designation {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-top: auto;
}

/* Arrows */
.arrow {
  background: #1e2a78;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  cursor: pointer;
  font-size: 22px;
  opacity: 0.7;
}

.prev,
.next {
  position: absolute;
  bottom: -70px;
}

.prev {
  left: 50%;
  transform: translateX(-60px);
}

.next {
  left: 50%;
  transform: translateX(10px);
}
