.banner {
  background: url('/Brand/Barco/unsplash-image-9fWmKm1h-kc.webp') no-repeat center center/cover;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.innerContainer {
  display: flex;
  width: 100%;
  color: white;
}

.content {
  flex: 0 0 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: var(--font-heading-1);
  margin-bottom: 15px;
}

.subtitle {
  font-size:var(--font-body);
  margin-bottom: 30px;
}

.imageContainer {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image {
  width: 150px;
  height: 100px;
  height: auto;
  object-fit: cover;
}
