
.row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
  padding-top: 50px;
}

.textContent {
  flex: 0 0 50%;
  font-size: var(--font-body);
  color: #000;
  font-weight: 300;
}

.imageContainer {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-size: var(--font-heading-2);
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}

.centeredHeading {
  text-align: center;
  font-size: var(--font-heading-2);
  font-weight: 700;
  margin: 40px 0;
  color: #000;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
