.Sustainabilitybanner {
  width: 100%;
    background: url('/serviceImage/sustainability.webp') center center/cover no-repeat;
  color: #ffffff;
  text-align: center;
  height: 550px;
  padding: 4rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--font-heading-1);
  margin: 0 0 1rem;
  font-weight: 700;
}

.subtitle {
  font-size: var(--font-heading-2);
  margin: 0;
  font-weight: 700;
}

.SustainabilityContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(56, 55, 55);
    width: 50%;
    margin: auto;
    padding: 40px;
}
